<div class="m-5">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Street Address</th>
        <th scope="col">Address Line 2</th>
        <th scope="col">City</th>
        <th scope="col">State/Province/Region</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Dni</th>
        <th scope="col">Sex</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <th scope="row">{{person.id}}</th>
        <td >{{person.name}}</td>
        <td>{{person.surname}}</td>
        <td>{{person.streetAddress}}</td>
        <td>{{person.addressLine2}}</td>
        <td>{{person.city}}</td>
        <td>{{person.stateProvinceRegion}}</td>
        <td>{{person.email}}</td>
        <td>{{person.dateOfBirth}}</td>
        <td>{{person.dni}}</td>
        <td>{{person.sex}}</td>
        <td>{{person.mobileNumber}}</td>
        <td>{{person.age}}</td>      
      </tr>
    </tbody>
  </table>
</div>